<!DOCTYPE html>

<html ng-app="app">
    <head>
        <meta name="viewport" content="width=device-width" />
        <link href="../Resources/Bootstrap/CSS/bootstrap.min.css" rel="stylesheet" />
        <link href="../Resources/Bootstrap/CSS/bootstrap-datetimepicker.css" rel="stylesheet" />
        <link href="../Resources/UIGrids/CSS/ui-grid.css" rel="stylesheet" />

        <script src="../Resources/AngularJS/angular.js"></script>
        <script src="../Resources/AngularJS/angular-route.js"></script>
        <script src="../Resources/AngularJS/angular-touch.js"></script>
        <script src="../Resources/AngularJS/angular-animate.min.js"></script>

        <script src="../Resources/UIGrids/Scripts/ui-grid.min.js"></script>
        <script src="../Resources/Bootstrap/Scripts/jquery-1.9.1.min.js"></script>
        <script src="../Resources/DateTimePicker/bootstrap.min.js"></script>
        <script src="../Resources/DateTimePicker/moment.js"></script>
        <script src="../Resources/DateTimePicker/bootstrap-datetimepicker.min.js"></script>

        <link href="../Resources/Select2/css/select2.min.css" rel="stylesheet" />
        <script src="../Resources/Select2/js/select2.min.js"></script>

        <script src="../Resources/NG-pagination/pagination.js"></script>

        <script src="../Resources/FineMateResource/jquery-3.1.1.min.js"></script>
        <script src="../Resources/FineMateResource/custom.min.js"></script>
        <link href="../Resources/FineMateResource/custom.min.css" rel="stylesheet" />
        <link href="../Resources/FineMateResource/responsive.min.css" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i" rel="stylesheet">

        <link href="../Content/SweetAlert/sweetalert.css" rel="stylesheet" />
        <script src="../Content/SweetAlert/sweetalert.min.js"></script>

        <style>
            .logo > a > img {
                width: 120px;
            }

        </style>

        <script type="text/javascript">
            $(document).ready(function () {
                var rId = $("#roleId").text();
                if (rId == 2) { //Police
                    $("#mnu_dashboard").css("display", "none");
                    $("#sub_mnu_finemaster").css("display", "none");
                    $("#sub_mnu_issuelist").css("display", "none");
                    $("#mnu_configuration").css("display", "none");
                    $("#MnuMyprof").css("display", "none");
                    $("#MnuMyActivity").css("display", "none");
                    $("#logoURL").attr("href", "../Fine");
                } else if (rId == 3) { //Post Office
                    $("#mnu_dashboard").css("display", "none");
                    $("#sub_mnu_fineform").css("display", "none");
                    $("#sub_mnu_finemaster").css("display", "none");
                    $("#mnu_configuration").css("display", "none");
                    $("#MnuMyprof").css("display", "none");
                    $("#MnuMyActivity").css("display", "none");
                    $("#logoURL").attr("href", "../LicenseIssue");
                }
                //else if (rId == 4) { //Vehicle Owner

                //}
                else if (rId == 1) { //Driver
                    $("#mnu_dashboard").css("display", "none");
                    $("#driver-menu-item").css("display", "none");
                    $("#mnu_fine").css("display", "none");
                    $("#mnu_configuration").css("display", "none");
                    $("#logoURL").attr("href", "../Driver/MyProfile");
                }
            });

            function loadPages(pageName) {
                alert(pageName);
                $("#frame").attr('src', pageName);
            }
        </script>
    </head>
    <body>
        <span id="roleId" style="display:none"><!-- @ViewBag.UserRoleId --></span>
        <header>
            <div id="header">
                <div class="content-wrapper">
                    <div class="container-fluid">
                        <div class="logo">
                            <a href="#" id="logoURL"><img src="../img/logo.png" /></a>
                        </div>
                        <nav class="main-nav">
                            <div class="trigger" id="trigger"><img src="img/menu.png" /></div>
                            <ul class="main-menu" id="main-menu">
                                <li id="mnu_dashboard"><img class="main-menu-ico" src="../img/dashboard-icon.png" /><a href="#" onclick="loadPages('Dashboard/index.html')">Dashboard</a></li>
                                <li id="driver-menu-item"><img class="main-menu-ico" src="../img/driver-icon.png" /><a href="#" onclick="loadPages('Driver/DriverMaster.html')">Driver</a></li>
                                <li id="mnu_fine" class="has-sub-menu">
                                    <img class="main-menu-ico" src="../img/fine-icon.png" />
                                    <a href="#">Fine</a>
                                    <ul class="sub-menu">
                                        <li id="sub_mnu_fineform"><a href="#" onclick="loadPages('Fine/FineForm.html')">Fine Form</a></li>
                                        <li id="sub_mnu_finemaster"><a  href="#" onclick="loadPages('Fine/FineMaster.html')">Fine Master</a></li>
                                        <li id="sub_mnu_issuelist"><a  href="#" onclick="loadPages('LicenseIssue/index.html')">Fine Issue List</a></li>
                                    </ul>
                                </li>
                                <li id="mnu_configuration" class="has-sub-menu">
                                    <img class="main-menu-ico" src="../img/config-icon.png" />
                                    <a href="#">Configurations</a>
                                    <ul class="sub-menu">
                                        <li><a href="#" onclick="loadPages('Configuration/PenaltyType.html')" >Penalty Type</a></li>
                                    </ul>
                                </li>
                                <li class="has-sub-menu">
                                    <img class="main-menu-ico" src="../img/user-icon.png" />
                                    <!--<a href="#">@ViewBag.userName</a> -->
                                    <ul class="sub-menu">
                                        <li id="MnuMyprof"><a href="#" onclick="loadPages('Driver/MyProfile.html')">My Profile</a></li>
                                        <li id="MnuMyActivity"><a href="#" onclick="loadPages('Driver/MyActivity.html')">My Activity</a> </li>
                                        <li><a href="index.html">Log Out</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </header>

        <section class="content-wrapper main-content clear-fix">
            <div class="site-body-cont" style="display:block;">
                <iframe  id="frame" src="Fine/FineForm.html"></iframe>
            </div>
        </section>
        <footer>
            <div class="footer-frame">
                <div class="container-fluid">
                    <p class="text-center">Powered by 3Bit Squad</p>
                </div>
            </div>
        </footer>

        <!--<script src="../Resources/UIBlocking.js"></script>
            <script>
                $(document).ajaxStart(function () {
                    $.blockUI({ message: '<h3><img src="../img/ajax-loader.gif" /><br/> Just a moment...</h3>' });
                });
                $(document).ajaxComplete(function () {
                    $.unblockUI();
                });
            </script> -->

    </body>
</html>

<style>
    iframe#frame {
        position: relative;
        top: 0px;
        border: none;
        width: 100%;
        height: 100vh;
        padding-top: 77px;
        padding-bottom: 37px;
        overflow-y: auto;
    }
</style>