body {
    background-color: #ECEFF1;
}

.logo > a > img {
    width: 120px;
    transition: 0.5s;
}
#header.stickytop .logo > a > img {
    width: 90px;
    position: relative;
    top: -3px;
    transition: 0.5s;
}
iframe#frame {
    position: relative;
    top: 0px;
    border: none;
    width: 100%;
    height: 100vh;
    padding-top: 77px;
    padding-bottom: 37px;
    overflow-y: auto;
}

.fm-login-form-frame {
    width: 100%;
    height: 100%;
    position: relative;
    top: 0px;
    left: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    display: -webkit-flex;
    -webkit-align-items: center;
    -webkit-justify-content: center;
}
.fm-login-form {
    width: 350px;
    filter: blur(50px);
    transition: 1s;
}
.fm-login-form.after {
    filter: blur(0px);
    transition: 1s;
}
.fm-login-field > input {
    width: 100%;
    display: block;
    padding: 10px;
    border: 1px solid #CFD8DC;
    outline: none;
    -webkit-outline: none;
    -moz-outline: none;
    -ms-outline: none;
    background-color: #CFD8DC;
    transition: 0.3s;
}
.fm-login-forgot-pw > a {
    color: #78909C;
    text-decoration: none;
}
.fm-login-caption {
    color: #CFD8DC;
}
.fm-remember-me > input[type="checkbox"] {
    width: 20px;
    height: 20px;
}
.fm-remember-me > .rmb-txt {
    position: relative;
    top: 4px;
}
.fm-login-forgot-pw {
    margin: 5px 0px 10px 0px;
}
.fm-login-field {
    display: block;
    margin: 0px 0px 10px 0px;
}
.fm-remember-me > input[type="checkbox"], .fm-remember-me > .rmb-txt {
    display: inline-block;
    float: left;
    margin-right: 10px;
    color: #CFD8DC;
}
.fm-remember-me {
    margin-bottom: 15px;
}
.fm-login-btn, .fm-signup-btn {
    background-color: transparent;
    display: inline-block;
    padding: 10px;
    width: 48%;
    float: left;
    transition: 0.3s;
}
/*.fm-login-btn {
    border: 1px solid #303F9F;
    color: #303F9F;
}
.fm-signup-btn {
    border: 1px solid #FF8F00;
    color: #FF8F00;
}*/
.fm-signup-btn {
    border: 1px solid #FF8F00;
    background-color: #FF8F00;
    color: #fff;
}
.fm-login-btn {
    border: 1px solid #303F9F;
    background-color: #303F9F;
    color: #fff;
    transition: 0.3s;
}
.fm-login-btn {
    margin-right: 4%;
}
.fm-logo-block {
    display: block;
    width: 100%;
    margin-bottom: 20px;
}
.fm-logo {
    max-width: 200px;
    display: block;
    margin: auto;
}

.cover-block {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 999;
}
.doors {
    display: inline-block;
    float: left;
}
.doors.door-one {
    position: relative;
    top: 0px;
    left: 0px;
    width: 50%;
    height: 100%;
    background-color: #455A64;
}
.doors.door-two {
    position: relative;
    top: 0px;
    right: 0px;
    width: 50%;
    height: 100%;
    background-color: #78909C;
}
body#fm-login {
    overflow: hidden;
    height: 100vh;
}
.cover-block {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 999;
    overflow: hidden;
    transform: rotate(45deg) scale(3);
    display: flex;
    align-items: center;
    justify-content: center;
    display: -webkit-flex;
    -webkit-align-items: center;
    -webkit-justify-content: center;
}
.cover-block.after {
    transform: rotate(0deg) scale(1);
    transition: 0.5s;
}
.doors.door-one.after {
    transition: 0.5s;
    left: -50vw;
    transition: 0.5s;
}
.doors.door-two.after {
    transition: 0.5s;
    right: -50vw;
    transition: 0.5s;
}
.cover-block .fm-logo-block {
    display: block;
    width: 100%;
    margin-bottom: 20px;
    position: absolute;
    z-index: 1;
    transform: rotate(-45deg);
}
.cover-block .fm-logo-block > img.fm-logo {
    max-width: 150px;
    transform: scale(0);
    transition: 0.5s;
}
.cover-block .fm-logo-block > img.fm-logo.after {
    transform: scale(0.6);
    opacity: 1;
    transition: 0.5s;
}
.cover-block .fm-logo-block > img.fm-logo.after.after1 {
    transform: rotate(45deg);
    opacity: 0;
    transition: 0.5s;
}
.login-bg-image {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center left;
}



.violator-dp > img {
    width: 60px;
}
.violator-dp {
    float: left;
    padding-right: 10px;
    margin-bottom: 10px;
}

:root{
    --prof-url: url('http://1plusx.com/app/mu-plugins/all-in-one-seo-pack-pro/images/default-user-image.png');
}
body {
    background-color: #ECECEC;
}

.dashboard-block {
    filter: blur(20px);
    -webkit-filter: blur(20px);
    padding: 20%;
    transition: 0.5s;
}
.show-dashboard-block {
    filter: blur(0px);
    -webkit-filter: blur(0px);
    padding: 0px;
    transition: 0.5s;
}
.prof-entry-user-data,
.prof-entry-user-data > div {
    padding: 0px;
}
.bg-sec {
    /*background-color: #446CB3;*/
    background-color: #455A64;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
    margin-top: 20px !important;
    transition: 0.3s;
}
.prof-sec-1 {
    padding: 20px;
    color: #fff;
    text-align: center;
    display: table;
    margin:auto;
    width: 100%;
}
.prof-sec-2 h4, .prof-sec-3 h4, .prof-sec-4 h4 {
    margin: 0px -15px 10px -15px;
    text-align: left;
    border-bottom: 1px solid #fff;
    padding-bottom: 10px;
    background-color: #213140;
    padding: 15px 10px;
    font-size: 16px;
    box-shadow: 20px 7px 7px 0px rgba(0,0,0,0.75);
    -webkit-user-select: none;
    -webkit-user-drag: none;
    cursor: default;
    -o-box-shadow: 0 2px 8px rgba(0,0,0,0.25), inset 0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.2), inset 0 10px 20px rgba(255,255,255,0.25), inset 0 -15px 30px rgba(0,0,0,0.3);
    -webkit-box-shadow: 0 2px 8px rgba(0,0,0,0.25), inset 0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.2), inset 0 10px 20px rgba(255,255,255,0.25), inset 0 -15px 30px rgba(0,0,0,0.3);
    -moz-box-shadow: 0 2px 8px rgba(0,0,0,0.25), inset 0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.2), inset 0 10px 20px rgba(255,255,255,0.25), inset 0 -15px 30px rgba(0,0,0,0.3);
    box-shadow: 0 0px 8px rgba(0,0,0,-0.25), /* Exterior Shadow */ inset 0 1px rgba(255,255,255,0.3), /* Top light Line */ inset 0 10px rgba(255,255,255,0.2), /* Top Light Shadow */ inset 0 10px 20px rgba(255,255,255,0.25), /* Sides Light Shadow */ inset 0 -15px 30px rgba(0,0,0,0.3);
    font-family: 'Oswald', sans-serif;
    letter-spacing: 1px;
    font-weight: 300;
}
.prof-dp {
    background: var(--prof-url);
    width: 100px;
    height: 100px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    margin: auto;
    border-radius: 50%;
    -webkit-box-shadow: 0px 0px 50px 0px rgba(0,0,0,0.75);
}
.prof-sec-1 > div > h3 {
    text-align: center;
}

/*prof section two*/
.prof-sec-2,
.prof-sec-3,
.prof-sec-4 {
    padding: 0px 15px 10px 15px;
    color: #fff;
    text-align: center;
    margin:auto;
}
/*.fill-button {
    background-color: #40c381 !important;
    width: 100%;
    padding: 10px !important;
    margin-top: 20px;
    color: #fff !important;
    transition: 0.3s;
    -o-box-shadow: 0 2px 8px rgba(0,0,0,0.25), inset 0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.2), inset 0 10px 20px rgba(255,255,255,0.25), inset 0 -15px 30px rgba(0,0,0,0.3);
    -webkit-box-shadow: 0 2px 8px rgba(0,0,0,0.25), inset 0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.2), inset 0 10px 20px rgba(255,255,255,0.25), inset 0 -15px 30px rgba(0,0,0,0.3);
    -moz-box-shadow: 0 2px 8px rgba(0,0,0,0.25), inset 0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.2), inset 0 10px 20px rgba(255,255,255,0.25), inset 0 -15px 30px rgba(0,0,0,0.3);
    box-shadow: 0 0px 8px rgba(0,0,0,-0.25),  Exterior Shadow  inset 0 1px rgba(255,255,255,0.3),  Top light Line  inset 0 10px rgba(255,255,255,0.2),  Top Light Shadow  inset 0 10px 20px rgba(255,255,255,0.25),  Sides Light Shadow  inset 0 -15px 30px rgba(0,0,0,0.3);
}*/
.fill-button {
    border-radius: 0px !important;
    background-color: transparent;
    width: 100%;
    padding: 10px !important;
    margin-top: 20px;
    color: #fff !important;
    transition: 0.3s;
    -webkit-box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.75);
    border: 1px solid #fff;
}
.fill-button:hover {
    background-color: #03A678;
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    border: 1px solid #03A678;
}
.w3-progress-container {
    background-color: #ABB7B7 !important;
}
div#r-points {
    background-color: #1e8bc3 !important;
    -o-box-shadow: 0 2px 8px rgba(0,0,0,0.25), inset 0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.2), inset 0 10px 20px rgba(255,255,255,0.25), inset 0 -15px 30px rgba(0,0,0,0.3);
    -webkit-box-shadow: 0 2px 8px rgba(0,0,0,0.25), inset 0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.2), inset 0 10px 20px rgba(255,255,255,0.25), inset 0 -15px 30px rgba(0,0,0,0.3);
    -moz-box-shadow: 0 2px 8px rgba(0,0,0,0.25), inset 0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.2), inset 0 10px 20px rgba(255,255,255,0.25), inset 0 -15px 30px rgba(0,0,0,0.3);
    box-shadow: 0 0px 8px rgba(0,0,0,-0.25), /* Exterior Shadow */ inset 0 1px rgba(255,255,255,0.3), /* Top light Line */ inset 0 10px rgba(255,255,255,0.2), /* Top Light Shadow */ inset 0 10px 20px rgba(255,255,255,0.25), /* Sides Light Shadow */ inset 0 -15px 30px rgba(0,0,0,0.3);
}
.move-2 {
    /*margin-top: -150px;*/
}
/*prof section two*/

.fine-history-block > ul {
    margin: 0px;
    padding: 0px;
}
.fine-history-block > ul > li {
    list-style: none;
    text-align: left;
    margin-top: 10px;
    transition: 0.3s;
    padding: 10px;
}
.fine-history-block > ul > li:hover {
    transition: 0.3s;
    background-color: #607D8B;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5);
}
.fine-history-block .fill-button.fine-history-btn {
    width: 100%;
    background-color: #03A678;
}
.fine-history-block > ul > li > i {
    font-size: 20px;
    margin-right: 10px;
}
.fine-history-block > ul > li > p {
    margin-left: 30px;
    color: #ccc;
}
.fine-history-btn {
    margin-top: 0px;
    width: 70%;
    margin: auto;
    display: block;
}
.fine-history-btn:hover {
    margin-top: 0px;
    transition: 0.3s;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
.move-3 {
    /*top: -100px;*/
}
/*section 4*/
.prof-sec-4 table {
    color: #fff;
    font-weight: 300;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    letter-spacing: 1px;
}
.prof-sec-4 table label {
    color: #fff;
    font-weight: 300;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    letter-spacing: 1px;
}
.prof-sec-4 table tr td p {
    margin-bottom: 5px;
}
.prof-sec-4 table tr > td:nth-child(2) {
    padding: 0px 10px;
}
ul#notification {
    position: absolute;
    top: 20px;
    right: 16px;
    padding: 0px;
    display: block;
    z-index: 1;
}
ul#notification li {
    list-style: none;
}
ul#notification > li > ul {
    background-color: #663399;
    padding: 10px 30px;
    margin-top: 60px;
    display: none;
}
ul#notification > li > ul > li {
    text-align: left;	
}
ul#notification > li > ul > li > p{
    color: #ccc;
}
ul#notification > li > ul > li > hr{
    margin: 0px 0px 20px 0px;
}
.trigger {
    width: 40px;
    margin: 10px;
}
ul#notification li .trigger {
    position: absolute;
    right: 0px;
}
img.trigger.trigger-after,
img.trigger.trigger-before {
    top: 0px;
}
.notification-count {
    background-color: #F22613;
    border-radius: 100%;
    width: 24px;
    height: 23px;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    -webkit-user-select: none;
    cursor: default;
    z-index: 2;
    position: absolute;
    top: 5px;
    right: 5px;
}



/*animation*/
/* Buzz Out */
@-webkit-keyframes hvr-buzz-out {
    10% {
        -webkit-transform: translateX(3px) rotate(2deg);
        transform: translateX(3px) rotate(2deg);
    }
    20% {
        -webkit-transform: translateX(-3px) rotate(-2deg);
        transform: translateX(-3px) rotate(-2deg);
    }
    30% {
        -webkit-transform: translateX(3px) rotate(2deg);
        transform: translateX(3px) rotate(2deg);
    }
    40% {
        -webkit-transform: translateX(-3px) rotate(-2deg);
        transform: translateX(-3px) rotate(-2deg);
    }
    50% {
        -webkit-transform: translateX(2px) rotate(1deg);
        transform: translateX(2px) rotate(1deg);
    }
    60% {
        -webkit-transform: translateX(-2px) rotate(-1deg);
        transform: translateX(-2px) rotate(-1deg);
    }
    70% {
        -webkit-transform: translateX(2px) rotate(1deg);
        transform: translateX(2px) rotate(1deg);
    }
    80% {
        -webkit-transform: translateX(-2px) rotate(-1deg);
        transform: translateX(-2px) rotate(-1deg);
    }
    90% {
        -webkit-transform: translateX(1px) rotate(0);
        transform: translateX(1px) rotate(0);
    }
    100% {
        -webkit-transform: translateX(-1px) rotate(0);
        transform: translateX(-1px) rotate(0);
    }
}
@keyframes hvr-buzz-out {
    10% {
        -webkit-transform: translateX(3px) rotate(2deg);
        transform: translateX(3px) rotate(2deg);
    }
    20% {
        -webkit-transform: translateX(-3px) rotate(-2deg);
        transform: translateX(-3px) rotate(-2deg);
    }
    30% {
        -webkit-transform: translateX(3px) rotate(2deg);
        transform: translateX(3px) rotate(2deg);
    }
    40% {
        -webkit-transform: translateX(-3px) rotate(-2deg);
        transform: translateX(-3px) rotate(-2deg);
    }
    50% {
        -webkit-transform: translateX(2px) rotate(1deg);
        transform: translateX(2px) rotate(1deg);
    }
    60% {
        -webkit-transform: translateX(-2px) rotate(-1deg);
        transform: translateX(-2px) rotate(-1deg);
    }
    70% {
        -webkit-transform: translateX(2px) rotate(1deg);
        transform: translateX(2px) rotate(1deg);
    }
    80% {
        -webkit-transform: translateX(-2px) rotate(-1deg);
        transform: translateX(-2px) rotate(-1deg);
    }
    90% {
        -webkit-transform: translateX(1px) rotate(0);
        transform: translateX(1px) rotate(0);
    }
    100% {
        -webkit-transform: translateX(-1px) rotate(0);
        transform: translateX(-1px) rotate(0);
    }
}
.hvr-buzz-out {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px transparent;
}
.hvr-buzz-out:hover, .hvr-buzz-out:focus, .hvr-buzz-out:active {
    -webkit-animation-name: hvr-buzz-out;
    animation-name: hvr-buzz-out;
    -webkit-animation-duration: 0.75s;
    animation-duration: 0.75s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
}

.prof-sec-4.bg-sec table > tbody > tr > td {
    text-align: left;
}

.page-caption {
    display: inline-block;
    padding: 0px 20px 0px 20px;
    background: linear-gradient(to bottom right, #4A148C, #3949AB);
    color: #fff;
    margin: -3px 0px 10px 0px;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    margin-bottom: 30px;

}
.page-caption h3 {
    margin: 5px 0px 0px 0px;
    font-family: 'Oswald', sans-serif;
    letter-spacing: 1px;
    font-weight: 300;
}
.page-caption hr {
    background: linear-gradient(to bottom right, #E1BEE7, #AB47BC);
    height: 1px;
    border: none;
    margin: 5px 0px 10px 0px;
}
table.table.table-bordered.table-condensed.table-striped {
    margin-top: 10px;
}
table.table.table-bordered.table-condensed.table-striped > thead > tr > th {
    background-color: #B0BEC5;
    -o-box-shadow: 0 2px 8px rgba(0,0,0,0.25), inset 0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.2), inset 0 10px 20px rgba(255,255,255,0.25), inset 0 -15px 30px rgba(0,0,0,0.3);
    -webkit-box-shadow: 0 2px 8px rgba(0,0,0,0.25), inset 0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.2), inset 0 10px 20px rgba(255,255,255,0.25), inset 0 -15px 30px rgba(0,0,0,0.3);
    -moz-box-shadow: 0 2px 8px rgba(0,0,0,0.25), inset 0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.2), inset 0 10px 20px rgba(255,255,255,0.25), inset 0 -15px 30px rgba(0,0,0,0.3);
    box-shadow: 0 0px 8px rgba(0,0,0,-0.25), /* Exterior Shadow */ inset 0 1px rgba(255,255,255,0.3), /* Top light Line */ inset 0 10px rgba(255,255,255,0.2), /* Top Light Shadow */ inset 0 10px 20px rgba(255,255,255,0.25), /* Sides Light Shadow */ inset 0 -15px 30px rgba(0,0,0,0.3);
    padding: 10px;
    font-family: 'Oswald', sans-serif;
    letter-spacing: 1px;
    font-weight: 500;
}
.form-group > label {
    font-family: 'Oswald', sans-serif;
    letter-spacing: 1px;
    font-weight: 500;
    margin-right: 5px;
}
.form-group > input.form-control {
    -o-box-shadow: 0 2px 8px rgba(0,0,0,0.25), inset 0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.2), inset 0 10px 20px rgba(255,255,255,0.25), inset 0 -15px 30px rgba(0,0,0,0.3);
    -webkit-box-shadow: 0 2px 8px rgba(0,0,0,0.25), inset 0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.2), inset 0 10px 20px rgba(255,255,255,0.25), inset 0 -15px 30px rgba(0,0,0,0.3);
    -moz-box-shadow: 0 2px 8px rgba(0,0,0,0.25), inset 0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.2), inset 0 10px 20px rgba(255,255,255,0.25), inset 0 -15px 30px rgba(0,0,0,0.3);
    box-shadow: 0 0px 8px rgba(0,0,0,-0.25), /* Exterior Shadow */ inset 0 1px rgba(255,255,255,0.3), /* Top light Line */ inset 0 10px rgba(255,255,255,0.2), /* Top Light Shadow */ inset 0 10px 20px rgba(255,255,255,0.25), /* Sides Light Shadow */ inset 0 -15px 30px rgba(0,0,0,0.3);
    border-radius: 0px;
    border: 1px solid #aaa;
}
.form-group > input.form-control::placeholder {
    color: #666;
}
.progtd {
    padding: 0px;
}

.input-group:nth-child(odd) {
    margin-right: 5%;
}
.input-group {
    width: 47%;
    display: inline-block;
}
.input-group span.input-group-addon {
    border: none;
}

.input-block > span.input-block-addon {
    width: 25%;
    display: inline-block;
    float: left;
    font-family: 'Oswald', sans-serif;
    letter-spacing: 1px;
    font-weight: 500;
    padding-right: 10px;
}
.input-block > .input-inner-block {
    display: inline-block;
    width: 75%;
}
.input-block:nth-child(odd) {
    margin-right: 4%;
}
.input-block {
    border: 1px solid #aaa;
    padding: 20px;
    background-color: #fff;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5);
    margin-bottom: 15px;
    width: 100%;
    display: inline-block;
    float: left;
}
.fine-sub-btn:nth-child(odd) {
    margin-right: 4%;
}
.fine-sub-btn {
    display: inline-block;
    width: 48%;
    float: left;
}
span.input-block-addon {
    position: relative;
}
span.input-block-addon > span.glyphicon.glyphicon-calendar {
    position: absolute;
    left: 10px;
    top: -23px;
}
input.date-picker {
    padding-left: 32px;
}
.fine-sub-btn {
    display: inline-block;
    width: 48% !important;
    padding: 10px;
    margin-top: 20px;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    border: 1px solid #03A678;
    border-radius: 0px;
    transition: 0.3s;
    text-transform: capitalize;
    font-family: 'Oswald', sans-serif;
    letter-spacing: 1px;
    font-weight: 400;
    padding-right: 10px;
    -o-box-shadow: 0 2px 8px rgba(0,0,0,0.25), inset 0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.2), inset 0 10px 20px rgba(255,255,255,0.25), inset 0 -15px 30px rgba(0,0,0,0.3);
    -webkit-box-shadow: 0 2px 8px rgba(0,0,0,0.25), inset 0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.2), inset 0 10px 20px rgba(255,255,255,0.25), inset 0 -15px 30px rgba(0,0,0,0.3);
    -moz-box-shadow: 0 2px 8px rgba(0,0,0,0.25), inset 0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.2), inset 0 10px 20px rgba(255,255,255,0.25), inset 0 -15px 30px rgba(0,0,0,0.3);
    box-shadow: 0 0px 8px rgba(0,0,0,-0.25), /* Exterior Shadow */ inset 0 1px rgba(255,255,255,0.3), /* Top light Line */ inset 0 10px rgba(255,255,255,0.2), /* Top Light Shadow */ inset 0 10px 20px rgba(255,255,255,0.25), /* Sides Light Shadow */ inset 0 -15px 30px rgba(0,0,0,0.3);
}
.fine-sub-btn:hover {
    border: 1px solid #03A678;
    transition: 0.3s;
}
.fine-sub-btn.add {
    background-color: #3F51B5;
}
.fine-sub-btn.add:hover {
    background-color: #5C6BC0;
}
.fine-sub-btn.submit {
    background-color: #03A678;
}
.fine-sub-btn.submit:hover {
    background-color: #26C281;
}
.input-inner-block > input:focus, .input-inner-block > select:focus,
.input-inner-block > input, .input-inner-block > select {
    -o-box-shadow: 0 2px 8px rgba(0,0,0,0.25), inset 0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.2), inset 0 10px 20px rgba(255,255,255,0.25), inset 0 -15px 30px rgba(0,0,0,0.3);
    -webkit-box-shadow: 0 2px 8px rgba(0,0,0,0.25), inset 0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.2), inset 0 10px 20px rgba(255,255,255,0.25), inset 0 -15px 30px rgba(0,0,0,0.3);
    -moz-box-shadow: 0 2px 8px rgba(0,0,0,0.25), inset 0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.2), inset 0 10px 20px rgba(255,255,255,0.25), inset 0 -15px 30px rgba(0,0,0,0.3);
    box-shadow: 0 0px 8px rgba(0,0,0,-0.25), /* Exterior Shadow */ inset 0 1px rgba(255,255,255,0.3), /* Top light Line */ inset 0 10px rgba(255,255,255,0.2), /* Top Light Shadow */ inset 0 10px 20px rgba(255,255,255,0.25), /* Sides Light Shadow */ inset 0 -15px 30px rgba(0,0,0,0.3);
    border-radius: 0px;
    border: 1px solid #aaa;
}
.table-bordered>tbody>tr>td > button.btn-primary {
    padding: 10px;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    border: 1px solid #03A678 !important;
    border-radius: 0px;
    transition: 0.3s;
    text-transform: capitalize;
    font-family: 'Oswald', sans-serif;
    letter-spacing: 1px;
    font-weight: 400;
    padding-right: 10px;
    -o-box-shadow: 0 2px 8px rgba(0,0,0,0.25), inset 0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.2), inset 0 10px 20px rgba(255,255,255,0.25), inset 0 -15px 30px rgba(0,0,0,0.3);
    -webkit-box-shadow: 0 2px 8px rgba(0,0,0,0.25), inset 0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.2), inset 0 10px 20px rgba(255,255,255,0.25), inset 0 -15px 30px rgba(0,0,0,0.3);
    -moz-box-shadow: 0 2px 8px rgba(0,0,0,0.25), inset 0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.2), inset 0 10px 20px rgba(255,255,255,0.25), inset 0 -15px 30px rgba(0,0,0,0.3);
    box-shadow: 0 0px 8px rgba(0,0,0,-0.25), /* Exterior Shadow */ inset 0 1px rgba(255,255,255,0.3), /* Top light Line */ inset 0 10px rgba(255,255,255,0.2), /* Top Light Shadow */ inset 0 10px 20px rgba(255,255,255,0.25), /* Sides Light Shadow */ inset 0 -15px 30px rgba(0,0,0,0.3);
    width: 100%;
    background-color: #03A678 !important;
}

.search-new-button {
    padding: 5px 20px;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    border: 1px solid #03A678 !important;
    border-radius: 0px;
    transition: 0.3s;
    text-transform: capitalize;
    font-family: 'Oswald', sans-serif;
    letter-spacing: 1px;
    font-weight: 400;
    -o-box-shadow: 0 2px 8px rgba(0,0,0,0.25), inset 0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.2), inset 0 10px 20px rgba(255,255,255,0.25), inset 0 -15px 30px rgba(0,0,0,0.3);
    -webkit-box-shadow: 0 2px 8px rgba(0,0,0,0.25), inset 0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.2), inset 0 10px 20px rgba(255,255,255,0.25), inset 0 -15px 30px rgba(0,0,0,0.3);
    -moz-box-shadow: 0 2px 8px rgba(0,0,0,0.25), inset 0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.2), inset 0 10px 20px rgba(255,255,255,0.25), inset 0 -15px 30px rgba(0,0,0,0.3);
    box-shadow: 0 0px 8px rgba(0,0,0,-0.25), /* Exterior Shadow */ inset 0 1px rgba(255,255,255,0.3), /* Top light Line */ inset 0 10px rgba(255,255,255,0.2), /* Top Light Shadow */ inset 0 10px 20px rgba(255,255,255,0.25), /* Sides Light Shadow */ inset 0 -15px 30px rgba(0,0,0,0.3);
    background-color: #03A678 !important;
    position: relative;
    top: 4px;
}
.prof-entry-user-data h5 {
    font-family: 'Oswald', sans-serif;
    letter-spacing: 1px;
    font-weight: 400;
    font-size: 14px;
}
.prof-entry-user-data p {
    font-size: 12px;
    font-weight: 300;
    color: #aaa;
}
h3.user-name {
    font-size: 16px;
    text-transform: capitalize;
    font-family: 'Oswald';
    font-weight: 300;
    letter-spacing: 1px;
}
#header.stickytop nav.main-nav > ul.main-menu > li.has-sub-menu > ul.sub-menu {
    padding-top: 7px !important;
    transition: 0.5s;
}
#header.stickytop img.main-menu-ico.user-icon.navbar-list-img {
    position: relative;
    transition: 0.5s;
    top: 0px;
}
img.main-menu-ico.user-icon.navbar-list-img {
    transition: 0.5s;
    top: -3px;
}