/*font*/
body {
    font-family: 'Roboto', sans-serif;
}
/*header*/
div#header {
    background-color: #333;
    background: linear-gradient(to right, #333, #4a148c);
    padding: 20px 20px;
    border-bottom: 2px solid #008080;
    z-index: 999;
    position: fixed;
    width: 100%;
    top: 0px;
    left: 0px;
    transition: 0.5s;
    -o-box-shadow: 0 2px 8px rgba(0,0,0,0.25), inset 0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.2), inset 0 10px 20px rgba(255,255,255,0.25), inset 0 -15px 30px rgba(0,0,0,0.3);
    -webkit-box-shadow: 0 2px 8px rgba(0,0,0,0.25), inset 0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.2), inset 0 10px 20px rgba(255,255,255,0.25), inset 0 -15px 30px rgba(0,0,0,0.3);
    -moz-box-shadow: 0 2px 8px rgba(0,0,0,0.25), inset 0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.2), inset 0 10px 20px rgba(255,255,255,0.25), inset 0 -15px 30px rgba(0,0,0,0.3);
    box-shadow: 0 0px 8px rgba(0,0,0,-0.25), /* Exterior Shadow */ inset 0 1px rgba(255,255,255,0.3), /* Top light Line */ inset 0 10px rgba(255,255,255,0.2), /* Top Light Shadow */ inset 0 10px 20px rgba(255,255,255,0.25), /* Sides Light Shadow */ inset 0 -15px 30px rgba(0,0,0,0.3);
}

a,
a:hover,
a:focus,
a:active,
nav.main-nav ul li a {
    text-decoration: none !important;
}

/*logo*/
div.logo {
    width: 300px;
    display: inline-block;
}


.logo > img {
    width: 130px;
    -webkit-user-drag: none;
}

.logo > img:hover {
    cursor: pointer;
}

/*navigation*/
a:hover {
    text-decoration: none;
}
nav.main-nav {
    width: auto;
    display: inline-block;
    float: right;
}

nav.main-nav a {
    color: #fff;
}
ul.main-menu {
    margin: 0px;
    margin-right: 0px;
}
nav.main-nav > ul.main-menu > li {
    position: relative;
    display: inline-block;
    padding: 0px 20px;
    font-size: 16px;
    z-index: 999;
}
nav.main-nav > ul.main-menu > li:hover a {
    color: #11b9b9;
    font-weight: 400;
    cursor: pointer;
    transition: 0.5s;
}
nav.main-nav > ul.main-menu > li > a{
    text-align: center;
    transition: 0.5s;
    position: relative;
    top: 2px;
    left: 5px;
}
ul.sub-menu {
    display: none;
}
nav.main-nav > ul.main-menu > li.has-sub-menu > ul.sub-menu {
    padding: 0px;
    position: absolute;
    right: 0px;
    padding-top: 25px;
    transition: 0.5s;
}
nav.main-nav > ul.main-menu > li.has-sub-menu > ul.sub-menu > li {
    list-style: none;
}
nav.main-nav > ul.main-menu > li.has-sub-menu > ul.sub-menu > li > a {
    color: #fff;
    font-weight: 400;
    font-size: 16px;
    padding: 10px 20px;
    background-color: #4a148c;
    border-bottom: 1px solid #aaa;
    display: block;
    width: auto;
    white-space: pre;
}
nav.main-nav > ul.main-menu > li.has-sub-menu:hover:not(.user-menu) > ul.sub-menu {
    display: block;
}
li.has-sub-menu.user-menu > ul.sub-menu.after {
    display: block;
}
nav.main-nav > ul.main-menu > li.has-sub-menu:hover > ul.sub-menu > li:hover a {
    color: #11b9b9;
    font-weight: 400;
    transition: 0.2s;
}
img.main-menu-ico {
    width: 32px;
}
/*trigger*/
div.trigger {
    display: none;
    transition: 0.5s;
}
.rotate-90 {
    -webkit-transform: rotate(180deg);
    transition: 0.5s;
}
.show-menu {
    height: 260px !important;
    visibility: visible !important;
    transition: 0.5s;
}

.page-loader {
    padding: 50px 0px 50px 0px;
    top: 0px;
    left: 0px;
    transition: 0.5s;
}
.page-loader.after {
    opacity: 0;
    filter: blur(50px);
    transition: 0.5s;
}

/*fooer*/
.footer-frame {
    background-color: #333;
    color: #aaa;
    text-transform: uppercase;
    font-size: 12px;
    padding: 10px;
    background: linear-gradient(to right, #333, #4a148c);
}
.footer-frame p {
    margin: 0px;
}

/*dashboard*/
.dashboard-frame {
    padding: 0px;
}
.dashboard-frame > img{
    width: 100%;
}

.stickytop {
    padding: 5px 20px !important;
    transition: 0.5s;
}
.navbar-list-img {
    width: 22px !important;
    transition: 0.5s;
}
.main-nav li img {
    transition: 0.5s;
    border-radius: 50%;
    border: 2px solid #aaa;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5);
}

.logo > a > img {
    width: 90px;
}
nav.main-nav > ul.main-menu li a {
    font-size: 14px !important;
}
li.has-sub-menu.user-menu > ul.sub-menu {
    padding-top: 22px !important;
}
nav.main-nav > ul.main-menu li a > i {
    font-size: 20px;
    margin-right: 5px;
    position: relative;
    top: 2px;
}